# DB
PGLITE_DATA_DIR=db

# OpenAI Configuration (required if using the Openai LLM Plugin)
OPENAI_API_KEY=

# Anthropic Configuration (required if using the Anthropic LLM Plugin)
ANTHROPIC_API_KEY=

# FutureHouse Platform
FUTUREHOUSE_API_KEY=Qf8zRAZXuqJFm3iwe8B3ag.platformv01.eyJqdGkiOiIwNDM2MzY5MS01MjhkLTQwMTEtOGM4YS1kMTRjMjAwOTNkMGEiLCJzdWIiOiJwUmZnc29TT1dYZGR3V2U1MmNBek1telBkUlEyIiwiaWF0IjoxNzQ3MjIzMjUyLCJleHAiOjE3NTQ5OTkyNTJ9.OIuK+5XL/MSLJHuMKsrtnCfQfm2BkFDER2+IQt9U+tY
